link( rel="stylesheet" href="./style.css" type="text/css")

- var faceAttributes = ['mouth', 'eye-left', 'eye-right', 'blush-left', 'blush-right'];

div.container
  div.background
  div.row
    div.macaroon.strawberry.dance-1
      div.face-happy
        each attribute in faceAttributes
          div(class=attribute)

    div.macaroon.blueberry.dance-2
      div.face-smiley
        each attribute in faceAttributes
          div(class=attribute)

    div.macaroon.pineapple.dance-3
      div.face-cool
        each attribute in faceAttributes
          div(class=attribute)
        
  div.row
    div.macaroon.lavender.dance-3
      div.face-cool
        each attribute in faceAttributes
          div(class=attribute)
        
    div.macaroon.matcha.dance-1
      div.face-happy
        each attribute in faceAttributes
          div(class=attribute)
        
    div.macaroon.chocolate.dance-2
      div.face-smiley
        each attribute in faceAttributes
          div(class=attribute)
        
  div.row      
    div.macaroon.bubblegum.dance-2
      div.face-smiley
        each attribute in faceAttributes
          div(class=attribute)
        
    div.macaroon.sesame.dance-3
      div.face-cool
        each attribute in faceAttributes
          div(class=attribute)
          
    div.macaroon.orange.dance-1
      div.face-happy
        each attribute in faceAttributes
          div(class=attribute)